# Gradle
.gradle/
**/.gradle/

# Build output
build/
**/build/

# Kotlin compiled files
*.class

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/

# Kotlin/IntelliJ
*.iml